{% extends "base.html" %}

{% block content  %}

<h4>Iveskite nauja automobili</h4>
<form action="/automobilis/naujas" method="post">
    <p>Automobilio gamintojas</p>
    <p><input type="text" name="gamintojaslaukelis"></p>

    <p>Automobilio modelis</p>
    <p><input type="text" name="modelislaukelis"></p>

    <p>Automobilio spalva</p>
    <p><input type="text"  name="spalvalaukelis" ></p>

    <p>Automobilio salis</p>
    <p><input type="text" name="salislaukelis" ></p>

    <p>Automobilio kaina</p>
    <p><input type="text" name="kainalaukelis" ></p>

    <p><input type="submit" value="issaugoti"></p>

</form>


{% endblock %}